* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #2D2D2D;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    overflow-y: auto;
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn_menu {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

@media (max-width: 768px) {
    #btn_menu {
        display: block; /* Tampilkan pada perangkat kecil */
    }
}

.sidebar.active #btn_menu {
    left: 90%;
}

.sidebar .logo {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .logo {
    opacity: 1;
}

.sidebar .kategori {
    font-family: "Quicksand", serif;
    font-weight: 300;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    margin-bottom: 1rem;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.sidebar ul li a .arrow {
    font-size: 1rem;
    transition: transform 0.3s ease;
}

/* Category list styling */
.category-list {
    list-style: none;
    padding-left: 1.5rem;
    display: none; /* Hidden by default */
}

.category-list li a {
    font-weight: 400;
    font-size: 0.9rem;
}

/* Active state */
.category-toggle.active .arrow {
    transform: rotate(90deg); /* Rotate arrow to right */
}

.category-toggle.active .category-list {
    display: block; /* Show category list */
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: #2D2D2D;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.sidebar.active ~ .main-content {
    left: 250px; /* Sesuaikan dengan lebar sidebar aktif */
    width: calc(100% - 250px);
}